[Unit]
Description=Disable Kernel Transparent Huge Pages

[Service]
Type=oneshot
ExecStart=/usr/local/lib/nohugepages.sh

[Install]
WantedBy=multi-user.target
